
@{
    ViewBag.Title = "UserView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserView</h2>&nbsp;&nbsp;<span>@Html.ActionLink("Log Out", "Logout", "Users");</span>


<div>
    Welcome User
</div>

